/*
    App Container
*/

#app {
    min-height: 350px;
}
#app, .container {
    max-width: 800px;
    margin: 0 auto;
}


/*
    General Styles
*/

[ng-click] {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.pad {
    padding: 20px;
}


/*
    Bootstrap Overrides
*/
.breadcrumb {
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
}


/*
    List Styles
*/

.list-header {
    margin-top: 15px;
    background: #f5f5f5;
    padding: 8px;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
}
.list-item {
    padding: 8px;
    border-top: 1px solid #ddd;
}

.link-block {
    display: block;
    padding: 20px 10px;
    margin-top: 0; /* remove `media` margin-top */
    border-top: 1px solid #ddd;
}
a.link-block {
    color: #333;
}
a.link-block:hover {
    text-decoration: none;
}
a.plain-link {
    color: #333;
    text-decoration: none;
}




/*
    loading-indicator
*/

.loading-indicator {
    background: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.loading-indicator .box {
    background: #3882cd;
    text-transform: uppercase;
    text-align: center;
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 46px;
}


/*
    search-bar
*/
.search-bar {
    background: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.search-bar .search-q {
    width: 80%;
}
.search-bar .search-button {
    width: 20%;
}
.search-bar .search-suggestions {
    background: white;
    border: 1px solid #ddd;
}


/*
    pagination controls
*/
.search--pagination-controls {
    padding: 10px;
    text-align: center;
    background: #f5f5f5;
    line-height: 34px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


/*
    top-bar
*/
.top-bar {
    position: relative;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.top-bar .back-button {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    padding: 13px;
}
.top-bar .logo {
    display: block;
    margin-top: 5px;
}


/*
    footer
*/
.footer {
    background: #f5f5f5;
    border-top: 2px solid #0d51a0;
    padding: 20px 10px;
}


/*
    Part Detail
*/
.mpn-text {
    color: #999;
}

.offer-row.expanded {
    background: lightyellow;
}

.offer-row-expanded-content {
    padding: 10px;
    margin-top: 10px;
}
.offer-row .extra-info {
    margin-bottom: 10px;
}
.small-label {
    text-transform: uppercase;
    font-size: 9px;
}


/*
    Flag extras
*/
.flag {
    float: left;
    margin: 4px 5px 0 0;
}