.flag {
  background-image: url('http://octopart.com/static/mobile-app/img/flags.png');
}

.flag-au {
  background-position: -5px -5px;
  width: 16px;
  height: 14px;
}

.flag-bg {
  background-position: -5px -29px;
  width: 16px;
  height: 14px;
}

.flag-ca {
  background-position: -5px -53px;
  width: 16px;
  height: 14px;
}

.flag-cn {
  background-position: -5px -77px;
  width: 16px;
  height: 14px;
}

.flag-de {
  background-position: -5px -101px;
  width: 16px;
  height: 14px;
}

.flag-es {
  background-position: -5px -125px;
  width: 16px;
  height: 14px;
}

.flag-eu {
  background-position: -5px -149px;
  width: 16px;
  height: 14px;
}

.flag-gb {
  background-position: -5px -173px;
  width: 16px;
  height: 14px;
}

.flag-gr {
  background-position: -5px -197px;
  width: 16px;
  height: 14px;
}

.flag-hk {
  background-position: -5px -221px;
  width: 16px;
  height: 14px;
}

.flag-ie {
  background-position: -5px -245px;
  width: 16px;
  height: 14px;
}

.flag-il {
  background-position: -5px -269px;
  width: 16px;
  height: 14px;
}

.flag-in {
  background-position: -5px -293px;
  width: 16px;
  height: 14px;
}

.flag-it {
  background-position: -5px -317px;
  width: 16px;
  height: 14px;
}

.flag-jp {
  background-position: -5px -341px;
  width: 16px;
  height: 14px;
}

.flag-my {
  background-position: -5px -365px;
  width: 16px;
  height: 14px;
}

.flag-pl {
  background-position: -5px -389px;
  width: 16px;
  height: 14px;
}

.flag-sg {
  background-position: -5px -413px;
  width: 16px;
  height: 14px;
}

.flag-th {
  background-position: -5px -437px;
  width: 16px;
  height: 14px;
}

.flag-tr {
  background-position: -5px -461px;
  width: 16px;
  height: 14px;
}

.flag-tw {
  background-position: -5px -485px;
  width: 16px;
  height: 14px;
}

.flag-us {
  background-position: -5px -509px;
  width: 16px;
  height: 14px;
}

