<br>
<div class="container">

    <div class="text-center">

        <a ng-href="#/" ng-if="!parentUid">
            &laquo; Home
        </a>

        <a ng-href="#/categories/{{ parentUid }}" ng-if="parentUid">
            &laquo; {{parentName}}
        </a>

        <h4 class="">{{ category.name }}</h4>


        <div ng-click="doCategorySearch(category)" ng-if="parentUid">
            All {{ category.num_parts | number}} in {{ category.name }} &raquo;
        </div>

    </div>


    <div class="list-header">
        Sub Categories
    </div>
    <div ng-repeat="child in children" class="list-item">
        <div class="pull-right"
           ng-click="doCategorySearch(child)">
           {{child.num_parts | number}}
           &raquo;
        </div>

        <a class="bold plain-link"
            ng-if="child.children_uids.length"
            ng-href="#/categories/{{ child.uid }}">
            + {{child.name}}
        </a>

        <div class="bold"
            ng-if="!child.children_uids.length">
            &nbsp;&nbsp; {{child.name}}
        </div>

    </div>
</div>
<br>
