<!--
<ol class="breadcrumb" ng-repeat="category in categories">
    <li ng-repeat="uid in category.ancestor_uids">
        <a ng-href="#/categories/{{ uid }}"
            ng-bind="category.ancestor_names[$index]"></a>
    </li>
    <li class="active">
        <a ng-href="#/categories/{{ category.uid }}"
            ng-bind="category.name"></a>
    </li>
</ol>
-->


<div class="container">

    <!-- Picture -->

    <div class="text-center">
        <h3>
            <span ng-bind="part.brand.name"></span><br>
            <span ng-bind="part.mpn" class="mpn-text"></span>
        </h3>

        <img ng-src="{{ part.imagesets[0].medium_image.url || part.imagesets[0].small_image.url }}">
        <p ng-bind="part.short_description"></p>
    </div>

    <!-- Vendors -->

    <div class="list-header" ng-if="authorizedOffers">
        Authorized Distributors
    </div>
    <div ng-repeat="offer in authorizedOffers"
         offer-row="offer">
    </div>

    <div class="list-header" ng-if="nonAuthorizedOffers">
        Non-Authorized Stocking Distributors
    </div>
    <div ng-repeat="offer in nonAuthorizedOffers"
         offer-row="offer">
    </div>

    <!-- Specs -->

    <div class="list-header" ng-if="hasSpecs">
        Specs
    </div>
    <table class="table" ng-if="hasSpecs">
        <tbody>
            <tr ng-repeat="(key, data) in part.specs">
                <td>
                    <span ng-bind="data.metadata.name"></span>
                </td>
                <td>
                    <span ng-bind="data.value"></span>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Datasheets -->
    <br>

    <div ng-repeat="datasheet in part.datasheets">
        <a  class="btn btn-default btn-block btn-primary"
            ng-href="{{ datasheet.url }}"
            target="_blank">
                Download Datasheet
                <br>
                <small ng-bind="datasheet.metadata.num_pages + ' pages'"></small>
        </a>
    </div>

    <br>

</div>