<div search-bar></div>

<div part-search-results="parts"></div>

<div class="search--pagination-controls clearfix">

    <button class="btn btn-default pull-left" ng-click="lastPage()" ng-if="page > 1">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>

    <button class="btn btn-default pull-right" ng-click="nextPage()" ng-if="page < numPages">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>

    <div>Page {{page}}</div>

</div>