<div class="offer-row list-item" ng-class="{expanded: expanded}">

    <!-- expand / collapse target -->
    <div ng-click="expanded = !expanded">
        <!-- price (float right) -->
        <div class="pull-right">
            <span ng-bind="offer.display_currency"
                    class="text-muted small"></span>
            <span ng-bind="offer.display_price | number:2"></span>
        </div>
        <!-- flag icon -->
        <div class="flag flag-{{ offer.seller.display_flag.toLowerCase() }}" title="{{ offer.seller.display_flag }}"></div>
        <!-- vendor name-->
        <b>{{offer.seller.name}}</b>
        <!-- packaging (optional) -->
        <span class="text-muted small" ng-bind="offer.packaging"></span>
        <!-- minimum quantity (optional) -->
        <span
            ng-if="offer.display_quantity > 1"
            ng-bind="offer.display_quantity + '+'"
            class="text-muted small">
        </span>
    </div>



    <!-- expandable price breaks -->
    <div class="offer-row-expanded-content clearfix" ng-if="expanded">
        <div ng-repeat="(currency, priceTuples) in offer.prices">
            <table class="table">
                <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>{{currency}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="priceTuple in priceTuples">
                        <td width="50%" ng-bind="priceTuple[0] | number"></td>
                        <td ng-bind="priceTuple[1] | number:2"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a target="_blank"
            class="btn btn-primary pull-right"
            ng-href="{{ offer.product_url }}">Buy</a>

        <div class="extra-info">
            <div class="small-label">Number Available</div>
            <b>{{offer.in_stock_quantity | number}}</b>
        </div>

        <div class="extra-info">
            <div class="small-label">Last Updated</div>
            <b>{{offer.last_updated | date}}</b>
        </div>

        <div class="extra-info" ng-if="offer.packaging">
            <div class="small-label">Packaging</div>
            <b>{{offer.packaging}}</b>
        </div>

        <div class="extra-info" ng-if="offer.factory_lead_days">
            <div class="small-label">Lead time</div>
            <b>{{offer.factory_lead_days}} days</b>
        </div>

        <div class="extra-info" ng-if="offer.factory_order_multiple">
            <div class="small-label">MOQ</div>
            <b>{{offer.factory_order_multiple}}</b>
        </div>
    </div>

</div>