<a class="media link-block"
   ng-href="#/parts/{{ part.item.uid }}">
    <div class="pull-left" style="width: 60px">
        <img class="media-object img-responsive center-block"
            ng-src="{{ part.item.imagesets[0].small_image.url ||
                       'http://placehold.it/60x60' }}">
    </div>
    <div class="media-body">
        <div>
            <b ng-bind="part.item.brand.name"></b>
            <b ng-bind="part.item.mpn" class="mpn-text"></b>
        </div>
        <div class="text-primary bold"
             ng-bind="part.item.avg_price_v2[0] | currency"></div>
        <div class="small text-muted"
             ng-bind="part.item.short_description">
        </div>
    </div>
</a>