<div class="search-bar">

    <form ng-submit="doSearch(q)">

        <button class="btn btn-primary pull-right search-button">
            <span class="glyphicon glyphicon-search"></span>
        </button>

        <input
            class="form-control search-q"
            type="search"
            placeholder="Search Term"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="off"
            spellcheck="false"
            tabindex="2"
            ng-model="q"
            ng-change="suggest(q)">

    </form>

    <div class="search-suggestions" ng-if="suggestions">
        <div class="list-item small"
             ng-repeat="suggestion in suggestions"
             ng-click="doSearch(suggestion)">
            {{suggestion}}
        </div>
    </div>

</div>